$orange: #FD7E37;
$white : #FFFFFF;
$black : #331100;
$brown : #663014;
$grey-hero : #00000080;
$grey-border : #707070;
$grey-shadow : #00000029;
$grey-contact : #31110080;

$fontfamily-title: 'Raleway', sans-serif;
$fontfamily-body: 'Montserrat', sans-serif;